.git
.gitignore
.editorconfig
.env
.env.*
node_modules
vendor
public/storage
storage/*.key
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
tests
Dockerfile
.dockerignore
release-notes.md
prd.md
