.git
.gitignore
.editorconfig
.env
.env.*
node_modules
vendor
public/storage
storage/*.key
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
tests
Dockerfile
.dockerignore
prd.md
bootstrap/cache/*
!bootstrap/cache/.gitignore
